{% extends 'main/sample.html' %}
{% load static %}

{% block title %}
    Поиск
{% endblock %}

{% block content %}
    {% csrf_token %}
    <div class="search-button">
        <a href="{% url 'home' %}" class="button_book">Назад</a>
    </div>
    {% if book == False %}
        <div class="void-str">
            <img src="{% static 'main/img/pngwing.com.png' %}" alt="">
            <h1>Ничего нету</h1>
        </div>
    {% else %}
        <h1 class="search-result">Результат поиска</h1>
        {% for b in page_obj %}
        <div class="card mb-3" style="max-width: 85vh;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="{{ b.photo.url }}" class="img-fluid rounded-start" alt="">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h3 class="card-author">{{ b.author }}</h3>
                        <h4 class="card-title">{{ b.title }}</h4>
                        <p class="card-text">{{ b.content|truncatewords:20 }}</p>
                    </div>
                </div>
            </div>
            <div class="button_cont">
                <a href="{{ b.get_absolute_url }}" class="button_book">Подробнее</a>
            </div>
        </div>
        {% endfor %}
    {% endif %}

    {% if page_obj.has_other_pages %}
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {% endif %}
                {% for p in page_obj.paginator.page_range %}
                    {% if page_obj.number == p %}
                        <li class="cat-choose"><a>{{ p }}</a></li>
                    {% elif p >= page_obj.number|add:-1 and p <= page_obj.number|add:1 %}
                        <li class="page-item"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    {% else %}
    {% endif %}
{% endblock %}