@import url('https://fonts.googleapis.com/css2?family=Updock&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');

.menu{
    position: fixed;
    z-index: 1000;
    margin: 0;
    padding: 0;
    background: #877346;
    width: 100%;
    height: 12vh;
    border-bottom: 0.8vh solid #59421f;
}

.menu ul{
    float:right;
    list-style: none;
    display: inline;
}

ul img{
    width: 3vh;
    margin-left: 4vh;
    margin-right: 1vh;
}

.menu a{
    display: block;
    float: left;
    margin-top: 4vh;
    margin-left: 2vh;
    margin-right: 3vh;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 2.5vh;
    font-weight: bold;
}

.menu a:hover{
    text-decoration: underline;
    text-decoration-color: #59421f;
}

#logo_img{
    width: 11vh;
    margin-left: 2vh;
    margin-top: 1vh;
    float: left;
}

.logo{
    color: black;
    font-size: 7vh;
    margin-left: 1vh;
    font-weight: bold;
    position: relative;
    top: 1vh;
    font-family: 'Updock', cursive;
}

main{
    background: url("https://media.proglib.io/wp-uploads/2019/02/books-lit@2x-e1550903308223.jpg");
    min-height: 100vh;
    max-height: 450vh;
    padding-bottom: 30vh;
    background-size: cover;
}

main{
    background-attachment: fixed;
    padding-top: 12vh;
    box-sizing: border-box;
}

main form{
    display: flex;
    padding-left: 50vh;
    padding-top: 30vh;
}

main form input{
    width: 80vh;
    height: 5vh;
    border-radius: 15vh;
    border: none;
    outline: none;
    padding-left: 2vh;
}

main form button{
    background: none;
    position: absolute;
    margin-left: 73vh;
    width: 5vh;
    height: 5vh;
    border: none;
}

footer{
    position: absolute;
    width: 100%;
    height: 25vh;
    margin-top: -25vh;
    background: #877346;
    padding-left: 4vh;
    padding-top: 2vh;
    padding-bottom: 3vh;
    font-size: 2.5vh;
    font-family: 'Roboto', sans-serif;
    color: black;
    border-top: 0.8vh solid #59421f;
}

footer h2{
    font-weight: 900;
}

.card{
    margin: 0 0 0 auto;
    background: #877346;
    border: 0.3vh solid #59421f;
    font-family: 'Roboto', sans-serif;
    font-size: 2vh;
    font-weight: 900;
}

.card{
    margin-top: 5vh;
    margin-right: 30vh;
}

.card img{
    border: 0.2vh solid #59421f;
}

.button_book {
    position: absolute;
    display: inline-block !important;
    text-decoration: none !important;
    background-color: #000000 !important;
    color: #ffffff !important;
    border: 0.2vh solid #000000 !important;
    border-radius: 4vh !important;
    font-size: 2vh !important;
    padding: 0.6vh 4vh !important;
    transition: all 0.8s ease !important;
    font-family: 'Roboto', sans-serif;
}
.button_book:hover{
    text-decoration: none !important;
    background-color: #59421f !important;
    color: #000000 !important;
    border-color: #59421f !important;
}

.row{
    height: 33vh;
}

.row img{
    width: 25vh;
    height: 33vh;
}

.button_book_div{
    position: relative;
    height: 2vh;
    width: 2vh;
    margin-top: 3vh;
}

.card-body{
    padding-top: 0.9vh;
    padding-left: 0.1vh;
}

.cat_book{
    overflow: scroll;
    float: left;
    position: absolute;
    margin-top: 5vh;
    max-width: 20vw;
    max-height: 50vh;
    background: #877346;
    border: 0.5vh solid #59421f;
    padding-right: 6vh;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 2.5vh;
    font-weight: bold;
}

.cat_book ul{
    list-style: none;
}

.cat_book a{
    display: block;
    padding-top: 2vh;
}

.active_cat a{
    color: black;
    text-decoration: none;
}

.active_cat a:hover{
    text-decoration: underline;
    text-decoration-color: #59421f;
}

.passiv_cat{
    color: #59421f;
}

.button_cont{
    position: absolute;
    padding-left: 65vh;
    padding-top: 27.5vh;
}

nav{
    padding-left: 80vh;
    padding-top: 10vh;
}

.pagination a{
    color: white;
    background: black;
    border: none;
}

.pagination li{
    border-radius: 2vh;
}

.pagination a:hover{
    color: black;
    background: #59421f;
    transition: all 0.8s ease !important;
}

.void-str{
    background: #877346;
    max-width: 30.6vh;
    border-radius: 2vh;
    border: 0.3vh solid #59421f;
    margin-left: 82vh;
    margin-top: 12vh;
    font-family: 'Roboto', sans-serif;
    font-size: 10vh;
    font-weight: bold;
}

.void-str h1{
    margin-left: 1.5vh;
    color: black;
}

.void-str img{
    width: 30vh;
}

.cat-choose{
    padding-left: 2vh;
    padding-right: 2vh;
    color: black;
}

.cat-choose a{
    background: none;
    font-size: 3vh;
}

.cat-choose a:hover{
    color: black;
    background: none;
}

.search-button a{
    margin-top: 2vh;
    margin-left: 2vh;
}

.search-result{
    margin: 0 0 0 auto;
    max-width: 85vh;
    background: #877346;
    font-family: 'Roboto', sans-serif;
    font-size: 4vh;
    font-weight: bold;
    border-radius: 1vh;
    border: 0.3vh solid #59421f;
    padding-left: 1vh;
}

.search-result{
    margin-top: 1vh;
    margin-right: 30vh;
}

.login_user input{
    float: right;
    height: 4vh;
    width: 40vh;
    box-sizing: border-box;
}

.login_user{
    padding-top: 2vh;
    background: #877346;
    min-height: 35vh;
    width: 60vh;
    border-radius: 2vh;
    border: 0.3vh solid #59421f;
    font-family: 'Roboto', sans-serif;
    font-size: 2vh;
    padding-left: 1vh;
    margin-left: 14vh;
    margin-top: -20vh;
    font-weight: bold;
}

.button_for_ever{
    background: black;
    width: 19.8vh;
    height: 4.5vh;
    color: #ffffff !important;
    border: 0.2vh solid #000000 !important;
    border-radius: 4vh !important;
    font-size: 2vh !important;
    padding: 0.1vh 4vh !important;
    transition: all 0.8s ease !important;
}

.button_for_ever:hover{
    text-decoration: none !important;
    background-color: #59421f !important;
    color: #000000 !important;
    border-color: #59421f !important;
}

.button-login-register{
    padding-left: 19vh;
    padding-top: 9vh;
}

.button-login-back{
    margin-top: 2vh;
    margin-left: 2vh;
    font-family: 'Roboto', sans-serif;
}

.login_user button{
    margin-left: 19vh;
    margin-top: 3vh;
}

.register-user{
    margin-top: -30vh;
    padding-left: 1vh;
    max-width: 85vh;
    min-height: 70vh;
    background: #877346;
    padding-top: 2vh;
    font-family: 'Roboto', sans-serif;
    font-size: 2vh;
    font-weight: bold;
    border-radius: 2vh;
    border: 0.3vh solid #59421f;
}

.register-user input{
    width: 80vh;
}

.register-user button{
    margin-top: 1vh;
    margin-left: 20vh;
    width: 40vh;
}